@keyframes card-in-from-left {
  from {
    display: flex;
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    display: flex;
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes card-out-to-left {
  from {
    opacity: 1;
    transform: translateX(0);
    z-index: -1;
    display: flex;
  }
  to {
    opacity: 0;
    transform: translateX(-100px);
    z-index: -1;
    display: none;
  }
}

@keyframes card-in-from-right {
  from {
    display: flex;
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    display: flex;
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes card-out-to-right {
  from {
    opacity: 1;
    transform: translateX(0);
    z-index: -1;
    display: flex;
  }
  to {
    opacity: 0;
    transform: translateX(100px);
    z-index: -1;
    display: none;
  }
}

.deck-wrapper {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  min-height: 860px;
  /* background-color: rgba(255, 69, 110, 1);
  background: radial-gradient(
    circle,
    rgba(87, 36, 111, 1) 0%,
    rgba(255, 69, 110, 1) 60%,
    rgba(255, 69, 110, 1) 100%
  );
  overflow: visible;
  box-shadow: 0px 0px 80px 0px rgba(255, 69, 110, 1); */
}

@media (max-width: 900px) {
  .deck-wrapper {
    min-height: 100vw;
  }
}

.card-wrapper {
  height: calc(100vw * 2 / 3);
  max-height: 400px;
  display: flex;
  justify-content: center;
}

.card {
  background-color: transparent;
  width: calc(100vw - 40px);
  height: calc(100vw * 2 / 3);
  max-width: 600px;
  max-height: 400px;
  /* margin: 10px auto; */
  position: absolute;
}

.card.direction-0.role-1,
.card.direction-0.role--1 {
  display: none;
}

.card.direction-2.role-1 {
  animation: card-out-to-left 200ms ease-in-out forwards;
}

.card.direction-2.role-0 {
  animation: card-in-from-right 200ms ease-in-out forwards;
}

.card.direction-2.role--1 {
  display: none;
}

.card.direction-1.role--1 {
  animation: card-out-to-right 200ms ease-in-out forwards;
}

.card.direction-1.role-0 {
  animation: card-in-from-left 200ms ease-in-out forwards;
}

.card.direction-1.role-1 {
  display: none;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: white;
}

.card.side-1 .card-inner {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.back {
  transform: rotateY(180deg);
}

.icon-button {
  display: inline-flex;
  margin: 10px;
  padding: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: 200ms ease-in-out;
  border-radius: 100px;
}

.icon-button .icon {
  margin: auto;
}

.control-buttons {
  width: calc(100vw - 40px);
  max-width: 600px;
  margin: 10px auto 0 auto;
}

.deck-name {
  text-align: center;
  margin-top: 40px;
}

@media (max-width: 560px) {
  .deck-name {
    font-size: 24px;
  }
}

.card-control-area {
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  margin-bottom: 40px;
}

.card-next-btn,
.card-prev-btn {
  display: flex;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;

  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: 200ms ease-in-out;
}

.card-next-btn:hover,
.card-prev-btn:hover {
  background-color: rgba(100, 100, 100, 0.3);
}

.mobile-controls {
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  /* margin: 20px 0 60px 0; */
}

.mobile-button-left,
.mobile-button-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 40px;
}

@media (max-width: 900px) {
  .card-control-area {
    display: block;
    margin-bottom: 10px;
  }

  .card-next-btn,
  .card-prev-btn {
    display: none;
  }

  .card {
    margin: auto;
  }

  .mobile-controls {
    display: flex;
  }
}
